*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url(../img/fondo.png);
    background-size: cover;   
}

.navbar1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 25px;
    text-decoration: none;
    list-style-type: none;
}

.navbar2{
    display: flex;
    text-decoration: none;
    list-style-type: none;
}


.link{
    padding: 10px;
    text-decoration: none;
    list-style: none;
    color: rgb(181, 168, 168);
}

.link:hover{
    text-decoration: line-through;
}

.redessociales{
    display: flex;
    list-style-type: none;
   
}

.redes{
    height: 35px;
}

.redes1{
    padding: 10px;
}

.chip{
  border-radius: 5px;
}

.finalizarCompra {
  background-color: white;
  padding: 2.5rem;
  border-radius: 30px;
}

.finalizarCompra h1 {
  text-align: center;
  padding-top: 1rem;
  border-bottom: 1px solid #21232a;
  margin-bottom: 2rem;
  font-size: 50px;
}

.finalizarCompra .datosPersonales_finalizarCompra .tarjeta_finalizarCompra {
  padding: 22px;
  background-color: #C4C4C4;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.finalizarCompra .datosPersonales_finalizarCompra .tarjeta_finalizarCompra img {
  width: 54px;
  margin-bottom: 1rem;
}

.finalizarCompra .datosPersonales_finalizarCompra .tarjeta_finalizarCompra label {
  margin-bottom: 2px;
}

.finalizarCompra .datosPersonales_finalizarCompra .tarjeta_finalizarCompra input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #21232a;
  background: #C4C4C4;
  margin-bottom: 1rem;
}

.finalizarCompra .datosPersonales_finalizarCompra .tarjeta_finalizarCompra .izquierda_tarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.finalizarCompra .datosPersonales_finalizarCompra .tarjeta_finalizarCompra .izquierda_tarjeta input {
  font-size: 25px;
}

.finalizarCompra .datosPersonales_finalizarCompra .tarjeta_finalizarCompra .izquierda_tarjeta input:last-child {
  width: 60px;
}

.finalizarCompra .datosPersonales_finalizarCompra .tarjeta_finalizarCompra .derecha_tarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finalizarCompra .datosPersonales_finalizarCompra .tarjeta_finalizarCompra .derecha_tarjeta input {
  width: 3%;
}

.footer{
  text-align: center;
  padding: 30px;
  color: white;
  line-height: 8px;
}

.imgaccount{
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.finalizar_compra{
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  border-radius: 30px;
  
}

.checkoutBTN{
  display: none;
}

.productoEnCarrito{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.imgcarrito{
  width: 10%;
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.precioProducto{
  margin: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.btn{
  list-style: none;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  color: black;
  font-weight: bold;
}

.form-group1{
  margin: 30px;
  text-align: center;
}

.formulario_etiquetas{
padding: 10px;
}

.cuotas{
  display: flex;
  flex-direction: row;
}