*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 25px;
}

.navbar1{
    display: flex;
    text-decoration: none;
    list-style-type: none;
}


.link{
    padding: 10px;
    text-decoration: none;
    list-style: none;
    color: rgb(181, 168, 168);
}

.link:hover{
    text-decoration: line-through;
}

.redessociales{
    display: flex;
    list-style-type: none;
   
}

.redes{
    height: 35px;
}

.redes1{
    padding: 10px;
}

.headerdona{
   
    
    background-image: url(../img/donaheader.jpg);
    height: 100vh;
    border-radius: 40px;
}

.headerdona h1{
    line-height: 200px;
    text-align: center;
    font-size: 80px;
    color: white;
    padding-top: 50px;
    font-family: cursive;
    transition: 0.4s;
}

.headerdona h1:hover{
    color: rgb(217, 176, 176);

}

.headerdona h4{
    line-height: 200px;
    font-size: 30px;
    text-align: center;
    color: wheat;
}

.headerdona h6{
    line-height: 200px;
    font-size: 20px;
    text-align: center;
    color: rgb(229, 182, 182);
}

#boton-carrito {
    border: none;
    color: royalblue;
    font-size: 40px;
    background-color: white;
    border-radius: 40%;
    padding: 10px 20px;
    transition: all .3s;
}

#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: royalblue;
}

#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto {
    width: 200px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: 2px solid rgb(105, 56, 56);
}

.precioProducto {
    font-weight: 700;
}

.boton-agregar {
    background-color: rgb(0, 42, 166);
    color: rgb(227, 227, 227);
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    border: none;
    border-radius: 10px;
    transition: .5s;
}

.boton-agregar:hover {
    color: white;
    background-color: royalblue;

}

.boton-finalizar{
    color: rgb(246, 246, 246);
    background-color: rgb(196, 66, 66);
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
    text-decoration: none;
    list-style-type: none;
    border-radius: 10px;
    transition: .5s;
}

.boton-finalizar:hover {
    background-color: red;
    color: white;
}

.boton-agregar:hover {
    cursor: pointer;
}

.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 700px;
    height: 400px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    line-height: 2.5;
    overflow-y: scroll;
    border-radius: 10px;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}

.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
    outline: none;
}

.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}

.boton-eliminar:focus {
    outline: none;
}

.img1{
    width: 8rem;
}

.card{
    font-weight: bold;
    text-shadow: 3px 2px 10px red;
    color: white;
    line-height: 1.8;
    text-align: center;
}

.imgcarrito{
    width: 10%;
}

.footer{
    text-align: center;
    padding: 30px;
    color: white;
}

.toast{
    color: white;
    font-size: 25px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(108, 72, 72), rgb(169, 79, 79));
    text-shadow: red;
    border: 1px solid rgb(205, 156, 156);
    transition: .3;
}

.toast:hover{
    font-size: 28px;
}

.toastdelete{
    color: white;
    font-size: 25px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(183, 47, 47), rgb(229, 22, 22));
    text-shadow: white;
    border: 1px solid rgb(205, 156, 156);
    transition: .3;
}

.toastdelete:hover{
    font-size: 28px;
}


.buscador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-top: 20px;;
}

.inputBuscar{
    border-radius: 10px;
    width: 50%;
    height: 30px;
}

.boton-buscar {
    background-color: rgb(0, 42, 166);
    color: rgb(227, 227, 227);
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    width: 10%;
    transition: .5s;
}

.boton-buscar:hover {
    color: white;
    background-color: royalblue;

}

.texto-buscar{
    color: white;
}

.busquedaInexistente{
    Color: red;
    font-size: 80px;
}

.header-open{
    display: none;
}

.boton-cerrar{
    display: none;
}

/* MEDIA QUERY */



@media only screen and (max-width: 600px) {

    .headerdona{
        background-size: auto;
        background-position: -700px 0px;
    }

    .headerdona h1{
        font-size: 38px;
    }

    .headerdona h4{
        font-size: 24px;
        line-height: 1.5;
    }

    .headerdona h6{
        font-size: 18px;
        line-height: 1;
        padding-top: 50px;

    }

    .buscador{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .inputBuscar{
        margin-bottom: 15px;
        text-align: center;
    }

    .boton-buscar{
        font-size: 15px;
        width: 30%;        
    }

    #contenedor-productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .producto{
        width: auto
    }

    .img1{
        width: 80px;
    }

    .card-tittle{
        font-size: 13px;
    }

    .card-text{
        font-size: 10px;
    }
    
    .btn{
        margin-top: 10px;
        font-size: 10px;
    }

    .productoEnCarrito{
        margin-bottom: 15px;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .productoEnCarrito p{
        padding-left: 10px;
    }

    .productoEnCarrito button{
        padding-left: 35px;
    }

    .img2{
        margin-left: 20px;
    }

    .modal-contenedor{
        width: auto;
    }
    
    
    .modal-carrito{
        height: 350px;
        line-height: 1.8;
        overflow-y: scroll;
        border-radius: 0;
    }
    
    .boton-agregar{
        margin: 12px;
    }

   .boton-eliminar {
        display: flex;
        flex-direction: column;
        color: red;
        border: none;
        font-size: 20px;
    }


    .navbar1{
        display: none;
    }

    .navbar2{
        display: none;
    }

    .header-open{
        display: block;
        font-size: 50px;
        list-style: none;
        text-decoration: none;
        color: white;
    }

    #lateral{
        display: block;
        background-color: rgb(0, 0, 0, 0.8);
        width: 40%;
        height: 50vh;
        position: fixed;
        top: 0;
        left: -100%;
        line-height: 2.5;
        z-index: 100;
        transition: all 0.5s;
    }

    #lateral:target{
        left: 0;
    }

    #boton-carrito{
        font-size: 20px;
    }

    .boton-cerrar{
        display: block;
    }

    .toast{
        font-size: 15px;
    }

    .toastdelete{
        font-size: 15px;
    }


}